.social{
    background: url('https://wallpaper-house.com/data/out/10/wallpaper2you_401752.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.socialh1{
    font-size: 5rem;
}